       						    <form name="auth" method="post" action="">
							<table width="300" border="0" cellpadding="5" bgcolor="white">
							<tr>
								<td>
									<table width="290" border="0" bgcolor="#CCCCCC">
										<th colspan="3" align="center" bgcolor="#333333"><p><font color="white" size="2">Account Info</font><p></th>
										<tr>
										   <td width="10%"> <p class="hilite16"> 1 </p></td>
											<td width="30%" align="right"><p>Email:</p></td>
											<td width="60%"><p class="hilite12"> <TMPL_VAR name="email"></p></td>
										</tr>
										<tr>
										   <td width="10%"> <p class="hilite16"> 2 </p></td>
											<td align="right"><p>Password:</p></td>
											<td>
												<p class="hilite12"><input name="password" type="password" id="password" size="20"> </p>
											</td>
										</tr>
										<tr>
											<td colspan="3" height="10" width="10"></td>
										</tr>
										<tr>
										   <td width="10%"></td>
											<td align="right"><p> SSL Security:</p></td>
											<td align="left"><p class="hilite12"> <TMPL_VAR name="ssl"> 
												[<a href="/support/ssl.html" target="_new">Help</a>] </p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table width="100%" border="0" bgcolor="#CCCCCC">
										<tr>
											<td align="center" valign="middle">
												<p><TMPL_VAR name="save"></p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							</table>
						     </form>
