<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- 
# $Id: index.tmpl,v 1.1 2005/11/21 01:16:58 matt Exp $
-->
<html>
<head>
	<title>
		<TMPL_VAR name="host">
			Mail Center</title> 
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<TMPL_INCLUDE NAME="toaster_templates/user_styles.tmpl">
<TMPL_INCLUDE NAME="toaster_templates/toaster_javascript.tmpl">
<TMPL_INCLUDE NAME="toaster_templates/user_body.tmpl">
<TMPL_INCLUDE NAME="toaster_templates/user_header.tmpl">
	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td colspan="3" align="center" valign="top">
				<TMPL_VAR name="logo">
				<h2><TMPL_VAR name="head"></h2>
				<hr>
			</td>
		</tr>
		<tr>
			<td colspan="3" align="center">
				<p class="hilite12"><TMPL_VAR name="instruct"></p></td>
		</tr>
		<tr>
			<td colspan="3" height="15" width="5"></td>
		</tr>
		<tr>
			<td width="300" height="300" align="right" valign="top">
				<table width="300" border="0" cellpadding="0" bgcolor="black">
					<tr>
						<td>
							<TMPL_INCLUDE NAME="toaster_templates/toaster_login.tmpl">
						</td>
					</tr>
				</table>
<!--END OF ACCOUNT INFO TABLE-->
			<br>
<!--SERVICES TABLE-->
			<table width="300" border="0" cellpadding="0" bgcolor="black">
				<tr>
					<td>
						<table width="300" border="0" cellpadding="5" bgcolor="white">
							<tr>
								<td>
									<table width="290" border="0" bgcolor="#CCCCCC">
									<th colspan="2" align="center" bgcolor="#333333"><p>
										<font color="white" size="2">Services Offered</font><p>
									</th>
									<tr>
										<td width="64%">
											<div align="right">
												<p>IMAP & IMAP-SSL</p>
											</div>
										</td>
										<td width="36%">
											<p><font size="-2"> [<a href="/support/imap.html">More Info</a>]</font></p>
										</td>
									</tr>
									<tr>
										<td width="64%" align="right"><p>
												<font size="-1">POP3 & POP3-SSL</font>
											</p>
										</td>
										<td width="36%"><p>
											<font size="-2"> [<a href="/support/pop3.html">More Info</a>]</font></p> 
										</td>
									</tr>
									<tr>
										<td width="64%" align="right"><p>
												<font size="-1">Webmail</font>
											</p>
										</td>
										<td width="36%"><p>
											<font size="-2"> [<a href="/support/webmail.html">More Info</a>]</font></p> 
										</td>
									</tr>
									<tr>
										<td width="64%" align="right"><p>
												<font size="-1">Spam Filtering</font></p>
										</td>
										<td width="36%"><p>
											<font size="-2"> [<a href="/support/filtering.html">More Info</a>]</font><p> 
										</td>
									</tr>
									<tr>
										<td width="64%" align="right"><p>
												<font size="-1">Virus Scanning</font>
											</p>
										</td>
										<td width="36%"><p>
											<font size="-2"> [<a href="/support/antivirus.html">More Info</a>]</font></p>
										</td>
									</tr>
									<tr>
										<td colspan="2" align="center"><p>
											<font size="-1"> <a href="/qmailadmin/images/help/email_user/">Email Users Guide</a></font></p>
										</td>
									</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
<!--END OF SERVICES TABLE-->
	</td>
	<td height="10" width="10"><p>&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
	<td width="90%" height="300" align="left" valign="top">
<!--VIEWERS TABLE-->
		<table width="100%" border="0" cellpadding="0" bgcolor="black">
			<tr>
				<td>
					<table width="100%" border="0" cellpadding="5" bgcolor="white">
						<tr>
							<td>
								<table width="100%" border="0" cellpadding="2" bgcolor="#CCCCCC">
									<th colspan="3" align="center" bgcolor="333333">
										<p><font color="white" size="2"> Viewers</font></p></th>
									<TMPL_INCLUDE NAME="toaster_templates/toaster_viewers.tmpl">
								</table>
							</td>
						</tr>
					<TMPL_IF NAME="stats">
						<tr>
							<td>
								<table width="100%" border="0" bgcolor="#CCCCCC">
									<th colspan="3" align="center" bgcolor="333333"><p><font color="white" size="2">
										Statistics</font></p></th>
					</TMPL_IF>
									<TMPL_INCLUDE NAME="toaster_templates/toaster_stats.tmpl">
						
					<TMPL_IF NAME="stats">
								</table>
							</td>
						</tr>
					</TMPL_IF>
					</table>
<!--END white outline table-->
				</td>
			</tr>
		</table>
<!--END VIEWERS BLACK OUTLINE TABLE-->
		</td>
	</tr>
	<tr>
		<td colspan="3" align="center"><p> &nbsp;</p></td>
	</tr>
</table>

<hr>

<p align="center"><font size="-2">
	<a href="http://mail-toaster.org/">Mail::Toaster::CGI</a> <TMPL_VAR name="version"> - 
	&copy; <a href="http://www.tnpi.net">The Network People, Inc.</a><font>
</p>
<TMPL_INCLUDE NAME="toaster_templates/user_footer.tmpl">
</body>
</html>

<!--

Copyright (c) 2004-2006, The Network People, Inc.  All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.

Neither the name of the The Network People, Inc. nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
